__pycache__/
*.py[cod]

.pytest_cache/
.mypy_cache/

*.egg-info/

logs/
outputs/
artifacts/usd/**/.asset_hash
artifacts/usd/**/config.yaml
logs/rsl_rl/**/exported/

docker/.env
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
