COMPOSE_PROJECT_NAME=isaaclab-g1-inspire-locomotion
ISAACLAB_IMAGE=nvcr.io/nvidia/isaac-lab:2.2.0
DOCKER_USER_HOME=/root
DOCKER_ISAACLAB_PATH=/workspace/isaaclab
DOCKER_EXT_PATH=/workspace/isaaclab_ws/isaaclab-g1-inspire-locomotion
DOCKER_UNITREE_ROS_PATH=/workspace/unitree_ros
ROS_DOMAIN_ID=0
HOST_DISPLAY=:0
HOST_XAUTHORITY_DIR=/run/user/1000/dcv
DOCKER_XAUTHORITY_DIR=/tmp/dcv-auth
