ISAACLAB_IMAGE=nvcr.io/nvidia/isaac-lab:2.2.0
DOCKER_USER_HOME=/root
DOCKER_ISAACLAB_PATH=/workspace/isaaclab
DOCKER_EXT_PATH=/workspace/isaaclab_ws/isaaclab-g1-inspire-locomotion
DOCKER_UNITREE_ROS_PATH=/workspace/unitree_ros
ROS_DOMAIN_ID=0
HOST_DISPLAY=:0
HOST_XAUTHORITY_DIR=/run/user/1000/dcv
DOCKER_XAUTHORITY_DIR=/tmp/dcv-auth
HOST_UNITREE_ROS_PATH=/home/ubuntu/unitree_ros
HOST_ISAAC_CACHE_ROOT=../.docker-cache/isaac-lab
HOST_ROS2_CACHE_ROOT=../.docker-cache/ros2-policy
